[submodule "bundle/flake8"]
	path = bundle/flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/qiushibaike"]
	path = bundle/qiushibaike
	url = git://github.com/vim-scripts/qiushibaike.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git://github.com/vim-scripts/qiushibaike.git
